*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 1440px;
    height: 60px;
    box-sizing: border-box;
}

.hedear_main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 90px;
    margin-right:  12px;
}

.header_menu button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 12px;
}

.header_right{
    width: auto;
    display: flex;
    align-items: center;
}

.header_searchbox{
    padding: 6px 12px ;
    border-radius: 3px;
    width: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.831);
}

.header_searchbox input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}

::placeholder{
    opacity: 50%;
}

.header_right img{
    width: 30px;
    height: 30px;
    margin-left: 20px;

}

#section1{
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 140px;
    box-sizing: border-box;
}
.rate{
    display: flex;
    margin-bottom: 18px;
}

.product_title{
    font-size: 42px;
    font-weight: 900;
    margin: 20px 0;
}

.img1{
    grid-area: 1 / 1 / span 2;
}

.product_img{
    display: grid;
    grid-template-columns:auto auto auto ;
    gap: 16px;

}

.description_title{
    margin-bottom: 30px;
}

.descripton{
    font-size: 14px;
    margin-bottom: 35px;
}

.item img{
    margin-right: 5px;
}

.item{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.feature_product{
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 20px;
}

.description_buyform{
     margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.description_left{
    width: 775px;
}

.buy_right select{
    border: none;
    background-color: rgb(237, 235, 235);
    padding: 8px;
    border-radius: 5px;
}

.total{
    display: flex;
    justify-content: space-between;
}
.buy_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 335px;
    border-radius: 5px;
    border: 1px solid rgb(228, 226, 226);
    padding: 20px;
}

.buy_right h1{
    text-align: right;
    font-weight: bolder;
    color: rgb(7, 209, 209);
    margin: 0;
}

.buy_right button{
    height: 45px;
    border-radius: 5px;
    
}

.btnBuy{
    color: white;
    background-color: rgb(7, 209, 209);
    border: none;
}

.btnAddToCart{
    color: rgb(7, 209, 209);
    border: 1px solid rgb(7, 209, 209);
    background-color: white;
}

.revw{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-weight: bolder;
}

.person_inf{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.name_rating{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 16px;
}

#section2{
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 140px;
    box-sizing: border-box;
   
}

.review_contain{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    font-size: 14px;
}

#section3{
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    padding:0 140px;
    margin-top: 50px;
    box-sizing: border-box;
}

.rel_title_seemore{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rel_container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.rel_item{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(233, 232, 232);
}

.title_favourite{
    display: flex;
    justify-content: space-between;
}

.prd_info{
    padding: 16px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rate_totaldue{
    display: flex;
    justify-content: space-between;
}

.rate_totaldue p{
    font-size: 12px;
}

.prd_info h3{
    color: rgb(7, 209, 209);
}

.title_favourite h3{
    color: black;
}

footer{
    width: 1440px;
    height: 450px;
    padding: 0 140px;
    box-sizing: border-box;
}

.footer_main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mail{
    display: flex;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailbox{
    height: 35px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding-left: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
}

.mailbox input{
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 8px;
}

.mailbox button{
    border: none;
    height: 35px;
    width: 115px;
    color: white;
    background-color: rgb(7, 209, 209);
    border-radius:  0 5px 5px 0;
}



.footer_item{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.ft_item{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ft_item p{
    font-size: 14px;
}

.languge_contacticon{
    padding: 0 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.language_left{
    width: 30%;

}

.language_left select{
    border: none;
    height: 30px;
    width: 120px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

ul{
    display: flex;
}

li{
    margin-left: 24px;
    font-size: 12px;
}

.center{
    width: auto;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: gray;
}.contactIcon_right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contactIcon_right img{
    margin-right: 16px;
}
