* {
    margin: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bai2_item{
    background-color: rgb(233, 194, 96);
    text-align: center;
    padding: 2rem;
}

.bai3_item{
    width: 60%;
    background-color: wheat;
    padding: 2rem;
}

.bai4_list2{
    background-color: rgb(233, 194, 96);
    padding: 1rem;
}

.bai5_content{
    width: 50%;
    padding: 2rem;
    margin-bottom: 5rem;
}

.bai7_item img{
    width: 50px;   
}
.bai7_item{
    width: 60%;
}
.bai7_item div{
    display: flex;
    margin: 1rem;
}

.bai7_item .item3{
    align-items: center;
}

.bai7_item .item4{
    display: flex;
    flex-direction: row-reverse;
}
