body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
}

header {
    width: 100vw;

}

.header_container {
    width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header_search_cart_account {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-primary {
    background-color: transparent;
    color: grey;
    border: none;
}



input {
    outline: none;
    border: none;
}

::placeholder {
    color: gainsboro;
    ;
}

.section1 {
    display: flex;
    justify-content: center;
    position: relative;
}

.section1_content {
    width: 450px;
    position: absolute;
    left: 450px;
    top: 115px;
    color: rgb(70, 69, 69);
}

.section1_content h1 {
    font-size: 48px;
    margin: 0;
}

.btn_pro {
    font-size: 20px;
    width: 180px;
    height: 50px;
}

.btn-success {
    --bs-btn-hover-color: #157347;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
}



.section2_button a {
    text-decoration: none;
    color: rgb(53, 150, 100);
    margin: 0 70px;

}

.section2_search_sort {
    display: flex;
}

.section2_search_box {
    display: flex;
    align-items: center;
    color: gainsboro;
    padding: 5px;
    border-bottom: 1px solid;
    margin-right: 20px;
}

.section2_sort_button {
    border: none;
    height: 52px;
    width: 132px;
    font-size: 18px;
    color: gray;
}

.section3,
.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_row {
    display: flex;
    flex-direction: row;
}

.product_item {
    display: flex;
    flex-direction: column;
    margin: 18px;
    position: relative;
}

.product_bestseller {
    border-radius: 15px;
    background-color: rgb(240, 182, 73);
    color: rgb(136, 90, 3);
    font-size: 12px;
    padding: 8px;
    position: absolute;
    top: 12px;
    right: 5px;
}

.section3_pagging {
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.btn_trasperant_color{
    background-color: transparent;
}

.btn-outline {
    height: 40px;
    width: 40px;
    --bs-btn-hover-color: #157347;
    --bs-btn-hover-border-color: #f0eeee;
}



footer {
    display: flex;
    justify-content: space-between;
    height: 425px;
    width: 100%;
    color: rgba(240, 248, 255, 0.79);
    background-color: rgb(30, 35, 47);
    padding: 90px;
    box-sizing: border-box;
}

.footer_link {
    font-size: 16px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer_link h3 {
    margin-bottom: 20px;
}

section {
    width: 100vw;
}

select {
    width: 125px;
    color: rgba(240, 248, 255, 0.79);
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
}

.link_about {
    display: flex;
    flex-direction: column;
}

.link_help {
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 15px;
}

.footer_contact_email {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.footer_contact_email h2 {
    margin: 0;
}

.email_input input {
    background-color: transparent;
}

.footer_email {
    display: flex;
}

.email_input {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px 0 0 8px;
    border: 1px solid;
    padding: 11px;
}

.footer_email button {
    font-size: 18px;
    height: 52px;
    width: 125px;
    color: aliceblue;
    border-radius: 0 8px 8px 0;
    padding: 18px;
    background-color: rgb(53, 150, 100);
    border: 1px solid rgb(81, 162, 120);
}

.footer_info {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer_info li {
    margin-left: 0;
}

.media_social_icon {
    margin: 30px 0;
}